<div class="container">
    <h1>Contacto</h1>

    <p #textos appResaltado>
        Esta es la página de contacto, puedes enviarnos cualquier duda
    </p>

    Tamaño de la imagen: 
    <input type="number" [(ngModel)]="widthSlider">
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>
    
    @if (anchuraSlider) {
        <div>
            <app-hijo [anchura]="widthSlider"
                      (conseguirAutor)="getAutor($event)">
        </app-hijo>
        </div>
    }

    @if (autor) {
        {{autor.nombre + " " + autor.website}}
    }
</div>