<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo error voluptas voluptatem iusto perspiciatis totam est 
        aperiam repellendus dolores enim cupiditate pariatur delectus, earum nesciunt animi sapiente magni neque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo error voluptas voluptatem iusto perspiciatis totam est 
        aperiam repellendus dolores enim cupiditate pariatur delectus, earum nesciunt animi sapiente magni neque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo error voluptas voluptatem iusto perspiciatis totam est 
        aperiam repellendus dolores enim cupiditate pariatur delectus, earum nesciunt animi sapiente magni neque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo error voluptas voluptatem iusto perspiciatis totam est 
        aperiam repellendus dolores enim cupiditate pariatur delectus, earum nesciunt animi sapiente magni neque!
    </p>
</article>