/* Importar Fuentes */
@font-face {
    font-family: "yanone";
    src: url("../public/fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("../public/fonts/finger.ttf");
}

/* Generales */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "yanone", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background: url("../public/img/pattern.png");
    position: fixed;
}

.clearfix {
    float: none;
    clear: both;
}

/* Barra de Navegación */
header {
    width: 100%;
    height: 9rem;
    background: rgba(53, 103, 164, $alpha: 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul {
    display: block;
    width: 58%;
    height: inherit;
    margin: 0 auto;
    margin-top: -3px;
}

header ul li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    line-height: 9rem;
}

header a {
    display: block;
    padding-right: 2rem;
    padding-left: 2rem;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Logotipo */
#logo {
    font-family: "finger";
    font-size: 3rem;
}

#logo a {
    transition: color 500ms, transform 500ms;
}

#logo a:hover {
    background: transparent;
    color: black;
    transform: scale(1.50, 1.50);
}