<h2>{{titulo}}</h2>

<p>Añadir Marca</p>
<input type="text" [(ngModel)]="miMarca" (blur)="onBlur()">
<button (click)="getMarca()">Mostrar Marca</button>
<button (click)="addMarca()">Añadir Marca</button>
<p>
    <strong>{{miMarca}}</strong>
</p>

<p>Compra los zapatos de las mejores marcas</p>
<ul>
    <li *ngFor="let marca of marcas; let indice = index">
        {{indice + ' ' + marca}}
        <button (click)="borrarMarca(indice)">Borrar</button>
    </li>
</ul>
<p>Las deportivas que tenemos disponibles son las siguientes:</p>
<ul>
    <li *ngFor="let deportiva of zapatos">
        <span [ngStyle]="{
            'text-decoration': !deportiva.stock ? 'line-through' : 'none'
        }">{{deportiva.nombre}} - 
        <strong [class.altoPrecio]="deportiva.precio >= 2000" 
            [ngClass]="{
                'fondoRojo': deportiva.precio > 2000,
                'subrayado': deportiva.marca == 'Nike'
            }">
            ${{deportiva.precio}} 
        </strong>
        </span>

        <span *ngIf="deportiva.precio <= 2000" 
        [style.background]="deportiva.precio < 2500 ? 'green' : 'transparent'"
        [style.color]="deportiva.precio < 2500 ? 'white' : 'black'"
        >¡EN OFERTA! </span>
    </li>
</ul>

<p>El color de la mayoría de nuestros zapatos es:</p>
<input type="text" [(ngModel)]="color" (keyup.enter)="mostrarPalabra()">
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color predominante es el <span style="background: yellow;">amarillo</span>.
    </li>
    <li *ngSwitchCase="'red'">
        El color predominante es el <span style="background: red;">rojo</span>.
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es el <span style="background: blue;">azul</span>.
    </li>
</ul>